node_modules/
uploads/
.env
.DS_Store
npm-debug.log*

# Logs
logs
*.log
*.out
*.pid

# Runtime
pids
*.seed
*.pid.lock

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema
.DS_Store
Thumbs.db

# Build
dist/
build/
.env
